@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  @apply px-5;
}

.sidebar {
  @apply bg-white;
}

.water {
  background-image: url("../public/bg-water.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    background: #009b9e;
    background: linear-gradient(180deg, #009b9e 0%, #009b9e 15%, #101b21 15%, #101b21 130%);
  }
}